
<form action="" method="post" id="phone_auth_form">
    <p>
        <input type="text" name="phone_input" id="phone_input" value="010123400"><input type="button" value="인증번호요청">
    </p>
    <p>
        <input type="text" name="phone_auth_num" value="1234">
    </p>
    <input type="button" id="phone_auth_btn" value="확인" onclick="processPhoneAuth();">
</form>
<p>이미 계정이 있으신가요?</p>
<p id="to_login" style="color:blue" onclick="loadLogin()">로그인</p>